# Influxdb data
influxdb_url = "https://influxdata.com"
influxdb_token = "1234567890abcdef=="
influxdb_org = "your-org"
influxdb_bucket = "trento-telemetry"

# AWS
lb_certificate_arn = ""
# name = "trento-telemetry"
# region = "eu-central-1"
# environment = "default"
