# Influxdb data
influxdb_url = "https://influxdata.com"
influxdb_token = "1234567890abcdef=="
influxdb_org = "your-org"
influxdb_bucket = "trento-telemetry"

# ECS deployment data
name = "trento-telemetry"
region = "eu-west-2"
aws_access_key = "1234567890abcdef"
aws_secret_key = "your-secret"
